.box 
{
	position: relative;
	width: 250px;
	height: 250px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 250px;
	height: 250px;
	background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 250px;
	height: 250px;
	background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0% 
	{
		transform: rotate(0deg);
	}
	100% 
	{
		transform: rotate(360deg);
	}
}
.box form 
{
	position: absolute;
	inset: 4px;
	background: #222;
	padding: 0px 0px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
